.background{
    background-image: url("images/garou.jpg");
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}
.body{
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    float: right;
    margin-right: 390px;
    margin-top: 190px;
    height: 500px;
    width: 300px;
    border-radius: 10px;
}
.txt{
    font-size: 20px;
    margin-left: 3px;
}
.hr{
    width: 93%;
    color: rgb(59, 54, 54);
}
.lst{
    margin-top: 3px;
    font-size: 10px;
}